<h1>新規投稿ページ</h1>


<%= form_with model: @post, class: :form, local: true do |form| %>
  <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
  <%= form.text_field :subtitle, placeholder: :サブタイトル, class: :sub__title %>
  <%= form.text_field :content, placeholder: :本文, class: :form__text %>
  <%= form.submit "投稿する" %>
<% end %>