= render partial: 'header'

.breadcrumb
  .wrap-1200
    スニーカーダンク > エアジョーダン スニーカー > エアジョーダン1(AIR JORDAN 1) 
.colum-1-header
  .wrapp-1200
    .page-header
      .left-box
        %h1.page-title
          = @post.title
        %p.sub
          = @post.subtitle
        %p.page-date
          = @post.updated_at
        %ul.sneaker-detail-text
          %li 海外価格：$350
          %li 発売：2020年
          %li スニーカー型番：CT-6250
      .right-box
        %p.sns-title
          発売前にTwitterでお知らせ！
        %p.sns-detail
          このスニーカーの追加情報や購入方法を発売前に公式Twitterでツイート中！
        .follow-btn
          = link_to "https://twitter.com/snkrdunk", target: :blank do
            %i.fa.fa-twitter 
            @snkrdunkをフォロー


.content-2
  .wrap-1200
    .content-main
      - if user_signed_in? && current_user.admin?
        .adminpost        
          = link_to "編集", edit_post_path
          = link_to "削除", post_path, method: :delete
      .post-wrapp
        .image-wrap
          = image_tag(@post.image.to_s)
        .content-wrap
          = @post.content

      .comment-wrap
        %h2.comment-title
          コメント・レビュー
        .post-list-colum
          - if user_signed_in?
            .post-post-box
              .entry-block
                = form_with model: [@post,@comment], class: :POST, local: true do |form|
                  %ul.post-content
                    %li
                      = form.text_field :text, placeholder: :欲しい！かっこいい！などお気軽にどうぞ！, class: :form__text  
                    %li     
                      %label 
                        .test2
                          = form.file_field :image
                  .mt-10
                    = form.submit "投稿する", class: :comment_btn
                    

          .post-list
            - @comments.first(2).each do |comment|
              .post-list-box   
                .post-list-box__inner
                  .user-box
                    = comment.user.name
                  .post-contents
                    = link_to(comment.text, "/posts/#{@post.id}/comments/#{comment.id}")
                  .post-data
                  .post-action
              -# = image_tag(comment.image.to_s)
          
           
      

    .content-side
      サイドのコンテンツを置きます。

  
  


= render partial: 'footer'