<!DOCTYPE html>
<html>
  <head>
    <title>スニーカーダンク</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "SNKRDUNK", root_path, class: "header__title--text" %>
      </div>
      <div class="header__right">
        <%= link_to "ログイン", '#', class: "header__right--log" %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
